{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Flask 123</h1>
    <p class="lead">Flask is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Getting started</h2>
        <p>
            To help you scrobbling your songs from a specific Radioshow this
            tool is connected to the BBC and can get you the show you want.
            Just select one of the 6 stations that offer a last.fm account
            and choose the date the episode you'd like to scrobble was
            on tune.
        </p>
        <p>
            <!-- all your CSS and JS code, including the stuff -->
            <!-- to handle the datepicker formatting -->

            Find Episodes:

            <form name="first" method="post" action="">
                <p>Radiostation:
                {{ form2.radiostation() }}
                {% if form2.radiostation.errors %}
                    <ul class="errors">{% for error in form2.radiostation.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                </p><p>Date Month/Day/Year:</p>
                {{ form.hidden_tag() }}
                {{ form.dt(class="dtpick") }}
                {% if form.dt.errors %}
                    <ul class="validation-summary-errors">}{% for error in form.dt.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                <p/><p><button type="submit">Get the episodes</button></p>
            </form>
        </p>
        <p>
            {% if episodes.__len__() >0 %}
            Select your specific show:<br/>
            <form name="webi" id="webi" method="post" action="">
                <input type="hidden" name="hiddentype" id="hiddentype" value="{{ hiddendata }}">
                <select name="webmenu" id="webmenu" size="{{text.__len__()}}">
               {% for i in range(episodes.__len__()) %}
                    <option value="{{i}}" data-image="http://ichef.bbci.co.uk/images/ic/32x32/{{ episodes[i][0] }}.jpg">{{episodes[i][1]}}</option>
               {% endfor %}
                </select>
                <button type="submit">GoforIt!</button>
            </form>
            {% endif %}
        </p>

    </div>
    {% if songlist_form_data %}
    <div class="col-md-5">
        <h2>Choose the songs to scrobble</h2>
        <p>Here we provide a list of all the songs of
        the specific epsode. All are selected. You can scrobble
        all or unselect songs you do not want to scrobble.</p>
        <p>
            Select your songs to scrobble:<br/>
            <form name="songlist" id="songlist" method="songlist" action="">
                <select multiple name="songs" id="songs" size="{{text.__len__()}}">
               {% for i in range(songlist_form_data.__len__()) %}
                    <option selected=TRUE value="{{i}}" data-image="{{ songlist_form_data[i][2] }}">{{songlist_form_data[i][1]}}</option>
               {% endfor %}
                </select>
                <br/><button type="submit">Scrobble them now!</button>
            </form>

        </p>
    </div>
    {% endif %}
</div>

{% endblock %}
