{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">

    <div style="overflow:hidden">
      <div  style="float:left;height:70px;postion:relative"><img
            style="height:70px;float:left" src="static/images/both_logos.png">
      </div>
      <div style="height:70px;margin-bottom:30px"><h1
        style="margin-top:15px;margin-right:15px">Scrobbler</h1></div>

    </div>
    <div>
    <p>A Python flask app that makes you scrobble your favourite radio show
        after you've been listening to it.</p>
    {% if logged_in %}
    <p><a href="http://www.last.fm/"
          class="btn btn-success" role="button">Logged in</a>
    </p>
    {% else %}
    <p><a href="http://www.last.fm/api/auth/?api_key=bf4ad92d8618e0d0c0913fc214a5dab6&cb=http://myfirstflask.azurewebsites.net/"
          class="btn btn-danger" role="button">Login to last.fm</a>
    </p>
    {% endif %}
        </div>

</div>

<div class="row">
    <div class="col-md-5">
        <div style="text-align:justify">
        <h2>Getting started</h2>
        <p>
            To help you scrobbling your songs from a specific Radioshow this
            tool is connected to the BBC and can get you the show you want.
            Just select one of the 6 stations that offer a last.fm account
            and choose the date the episode you'd like to scrobble was
            on tune.
        </p>
        <p>
           Before you can start here you have to <a
                href="http://www.last.fm/api/auth/?api_key=bf4ad92d8618e0d0c0913fc214a5dab6&cb=http://myfirstflask.azurewebsites.net/">login</a> at last.fm. This
            enables scrobbling tracks later on.
        </p>
            </div>
        <p>
            <!-- all your CSS and JS code, including the stuff -->
            <!-- to handle the datepicker formatting -->

            Find Episodes<a name="episodefinder"></a>:

            <form name="first" method="post" action="">
                <p>Radiostation:
                {{ form2.radiostation() }}
                {% if form2.radiostation.errors %}
                        <ul class="errors">
                          {% for error in form2.radiostation.errors %}
                          <li>{{ error }}</li>{%endfor %}
                        </ul>
                {% endif %}
                </p><p>Date Month/Day/Year:</p>
                {{ form.hidden_tag() }}
                {{ form.dt(class="dtpick") }}
                {% if form.dt.errors %}
                    <ul class="validation-summary-errors">{% for error in form.dt.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                <p/><p><button type="submit">Get the episodes</button></p>
            </form>
        </p>
        <p>
            {% if episodes %}
            Select your specific show:<br/>
            <form name="webi" id="webi" method="post" action="">
                <input type="hidden" name="hiddentype" id="hiddentype" value="{{ hiddendata }}">
                <select name="webmenu" id="webmenu" size="{{text.__len__()}}">
               {% for i in range(episodes.__len__()) %}
                    <option value="{{i}}" data-image="http://ichef.bbci.co.uk/images/ic/32x32/{{ episodes[i][0] }}.jpg">{{episodes[i][1]}}</option>
               {% endfor %}
                </select>
                <button type="submit">GoforIt!</button>
            </form>
            {% endif %}
        </p>

    </div>

    <div class="col-md-5">
        <a name="songchoose"></a>
        {% if songlist_episode %}
        <h2>Choose the songs to scrobble</h2>
        <p>Here we provide a list of all the songs of
        the specific epsode. All are selected. You can scrobble
        all or unselect songs you do not want to scrobble for the episode:</p>
        <p>
            {{songlist_episode}}
        </p>
        {% if songlist_form_data %}
        <p>
            Select your songs to scrobble:<br/>
            <form name="songlist" id="songlist" method="post" action="">
                <input type="hidden" name="hiddensongs" id="hiddensongs"
                       value="{{ songlist_hidden_data }}">
                <select multiple name="songs" id="songs"
                        size="{{text.__len__()}}">

               {% for i in range(songlist_form_data.__len__()) %}
                    <option selected=TRUE value="{{i}}">{{songlist_form_data[i][1]}}</option>
               {% endfor %}
                </select>
                <br/><button type="submit">Scrobble them now!</button>
            </form>

        </p>
        {% endif %}
    </div>
    {% endif %}
    {% if superstring %}
    <div class="col-md-5">
        <h2>{{superstring}}</h2>
        {% if scrobbling_list %}
        <ul>
            {% for i in range(scrobbling_list.__len__()) %}
            <li>{{ scrobbling_list[i] }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endif %}
</div>
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11278086;
var sc_invisible=1;
var sc_security="0cd1eb3c";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="hit counter"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/11278086/0/0cd1eb3c/1/" alt="hit
counter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
{% endblock %}
