<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/scripts/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/content/dd.css">
	<script src="/static/scripts/jquery-1.10.2.min.js"></script>
	<script src="/static/scripts/jquery-ui.min.js"></script>
    <script src="/static/scripts/jquery.dd.min.js"></script>
	<script>
	$(function() {
		$( ".dtpick" ).datepicker();
	});
	$(document).ready(function(e) {
    try {
        $("body select").msDropDown();
    } catch(e) {
        alert(e.message);
    }
    });
	</script>
    <link rel="icon" href="static/images/favicon.ico" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">BBC Radio After Scrobbler</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://mail-wolf.de">About</a></li>
                    <li><a href="https://github.com/zappingseb/FlaskAzure">github</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - My Flask Application</p>
        </footer>
    </div>

    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
